html {
   font-size: 62.5%;
}

body {
   background: #d1efb3;
   font-family: "Rubik", sans-serif;
   font-size: 2rem;
   margin: 0;
   padding: 0 2rem;
}

.intro {
   text-align: center;
}

.process {
   font-size: 2rem;
}

.process__heading {
   font-size: 2.5rem;
   letter-spacing: 1px;
}

.step {
   margin: 0 0 3rem;
}

.image-icon {
   width: 6rem;
}
